.mainBlock {
    height: 100vh;
    background-color: mediumturquoise;
}

.mainGreeting {
    background-color: #51c2bf;
    width: 400px;
}

.mainPhoto {
    background-color: #51c2bf;
    width: 300px;
    height: 400px;
}
