.projectsBlock {
    background: mediumspringgreen;
    height: 100vh;
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.ProjectsTitle {
    background: #61dafb;
}

.projects {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
    flex-wrap: wrap;
}
